<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-color: #e3e3e3;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Fraud Detection</title>
</head>
<body>
<h1>Online Payment Fraud Detection</h1>
<p>Welcome to our Payment Fraud Detection Model webpage, where cutting-edge technology meets your financial security needs. We are committed to protecting you from the threats of payment fraud, ensuring your peace of mind while making transactions online or in-person.</p>
<br>
<h2>Why Payment Fraud Detection?</h2>
<p>In today's interconnected world, the convenience of digital payments has become indispensable. However, it has also opened doors for sophisticated fraudsters seeking to exploit vulnerabilities in payment systems. This is where our Payment Fraud Detection Model steps in.</p>
<br>
<h2>How It Works</h2>
<p>Our state-of-the-art model combines advanced machine learning algorithms with real-time monitoring to identify and prevent fraudulent transactions. By analyzing vast amounts of transaction data, it distinguishes between genuine and fraudulent activities, helping you stay one step ahead of cybercriminals.</p>
<br>
<p>Click the button below to access the forms:</p>
<a href="predict.html"><button>Predict</button></a>
</body>
</html>
